* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: auto;
}
img {
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid white;
}
.game {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

#result {
  font-weight: bold;
  color: red;
}
.content h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
}
.out {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 100px;
}
.box1 {
  width: 500px;
  height: 330px;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
}
.box1 .img1 {
  margin-top: 20px;
}
.box1 .img2 {
  margin-top: 20px;
}
.box1 span {
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
button{
  margin-top: 80px;
  border-radius: 10px;
  outline: none;
  border: 3px solid black;
  padding: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}