*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
.output{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}
.box{
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 20%;
    background-color: red;
    border-radius: 50%;
    border: 5px solid brown;
    cursor: pointer;
}
.message{
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: bold;
}